* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(98, 18, 210);
  background: linear-gradient(
    135deg,
    rgba(98, 18, 210, 1) 18%,
    rgba(58, 25, 89, 1) 89%
  );
  font-family: "Open Sans", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.to-do-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}

.to-do-header {
  display: flex;
  margin-bottom: 30px;
}

.to-do-header img {
  width: 40px;
  height: 40px;
  filter: invert(42%) sepia(76%) saturate(2870%) hue-rotate(3deg)
    brightness(90%) contrast(86%);
  margin-left: 10px;
  margin-top: 4px;
}

.to-do-content .input-row {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 24px;
  background-color: #eaeaea;
}

.to-do-content .input-row input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  padding: 10px 20px;
}

.to-do-content button {
  border: none;
  outline: none;
  padding: 12px 30px;
  color: #fff;
  background-color: #d25f12;
  font-size: 20px;
  cursor: pointer;
  border-radius: 30px;
}

.to-do-content ul li {
  list-style: none;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 48px;
  word-wrap: break-word; 
  width: 92%;
}

.to-do-content ul li::before {
  content: "";
  background-image: url(images/circle-svgrepo-com.svg);
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  left: 10px;
  top: 12px;
}

.to-do-content ul li.checked {
  text-decoration: line-through;
  color: #9c9c9c;
}

.to-do-content ul li.checked::before {
  background-image: url(images/checked-success-svgrepo-com.svg);
  filter: invert(42%) sepia(76%) saturate(2870%) hue-rotate(3deg)
    brightness(90%) contrast(86%);
}

.to-do-content ul li span {
  position: absolute;
  right: -8%;
  top: 4px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
}

.to-do-content ul li span:hover {
  background-color: #eaeaea;
  border-radius: 50%;
}


@media screen and (max-width: 330px) {
    .to-do-content .input-row input{
        padding: 10px 0;
    }
    
    .to-do-content button{
        padding: 12px 16px;
    }
}

@media screen and (max-width: 280px){
    .to-do-content .input-row{
        width: 220px;
    }
    
    .to-do-content .input-row input{
        width: 200px;
        padding: 12px 5px;
    }
    
    .to-do-content button {
        padding: 12px 5px;
        width: 200px;
    }
}
